body {
    background-color: #2e2e2e;
    color: #ececec;
    margin-top: 120px;
}

header {
    background-color: #222222;
    box-shadow: 0 2px 2px #222;
    color: #ececec;
    position: fixed;
    top: 0px;
    margin-left: -10px;
    width: 100%;
    z-index: 100000;
}

header div {
    float: right;
    margin-top: -75px;
    margin-right: 50px;
}

h1 {
    font-family: 'Griffy', cursive;
    font-size: 35px;
    margin-left: 50px;
}

#h1bg {
    font-size: 35px;
    margin-top: -72px;
    color: #2e2e2e;
    margin-left: 49px;
}