/*
Jason Slocum
5.28.2014
DPW
Final API
*/

html {
    background-image: url('/images/bg2.jpg');
    width: 100%;
}

header {
    background-color: #222222;
    box-shadow: 0 2px 2px #222;
    position: fixed;
    top: 0px;
    margin-left: -10px;
    width: 100%;
    z-index: 100000;
    height: 50px;
}

ul li {
    display: inline-block;
    margin: -15px 0 0 17.708333%/*255px*/;
    list-style-type: none;
}

ul li a {
    color: #ececec;
    list-style-type: none;
    padding: 0 5px 0 5px;
    text-decoration: none;
    margin-top: -20px;
}

#logo {
    color: #114e7d;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    padding: 0;
    opacity: 100;
}

.logolink {
    border-left: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    color: #ececec;
}

form {
    margin: 80px 0 0 33%;
}

form input {
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
    border: none;
    height: 25px;
    border-radius: 5px;
}

form input:hover {
    opacity: .7;
}