/*
Jason Slocum
5.28.2014
DPW
Final API
*/

html {
    background-image: url('/images/bg2.jpg');
    width: 100%;
}

header {
    background-color: #222222;
    box-shadow: 0 2px 2px #222;
    position: fixed;
    top: 0px;
    margin-left: -10px;
    width: 100%;
    z-index: 100000;
    height: 50px;
}

ul li {
    display: inline-block;
    margin: -15px 0 0 17.708333%/*255px*/;
    list-style-type: none;
}

ul li a {
    color: #ececec;
    list-style-type: none;
    padding: 0 5px 0 5px;
    text-decoration: none;
    margin-top: -20px;
}

#logo {
    color: #114e7d;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    padding: 0;
    opacity: 100;
}

.logolink {
    border-left: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    color: #ececec;
}

form {
    margin: 80px 0 0 33%;
}

form input {
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
    border: none;
    height: 25px;
    border-radius: 5px;
}

form input:hover {
    opacity: .7;
}

#cta {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 33px;
    margin-top: 0px;
    color: #ececec;
}

div.box {
    border: 1px solid #ececec;
    border-radius: 5px;
    background-color: #ffffff;
    opacity: .7;
    font-weight: bold;
    width: 40%;
    margin: 0px 0 0 29% /*400px*/;
    text-align: center;
    font-family: 'Merriweather', serif;
    box-shadow: 0 0 5px #2e2e2e;
}

div.box h2 h3 {
    color: #222222;
}

div.box p {
    color: #333333;
}

ul li a {
    background-color: #222222;
    -webkit-transition: 0.7s;
     -moz-transition: 0.7s;
     -o-transition: 0.7s;
     -ms-transition: 0.7s;
     transition: 0.7;
}

ul li a:hover {
    text-shadow: -1px 1px 7px #ececec, 1px -1px 7px #ececec;
    color: #114e7d;
}