/* css  for Lab 2 simple form */
body{
    background-color: #334145;
    color: #fbfaf9;
    font-family: "Georgia";
}

h1 {
    margin-top: 50px;
    font-family: "Helvetica";
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    text-transform: capitalize;
}

p {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}

form {
    width: 700px;
    margin: 35px auto;
}

ul {
    text-transform: capitalize;
    font-weight: 300;
}

li {
    display: block;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
    padding-top: 12px;
}

form ul li input {
    width: 510px;
    height: 30px;
}

#checkbox {
    margin-left: -250px;
    width: 700px;
}

#checkbox label {
    margin-left: -225px;
}

#send {
    background-color: #a14d48;
    border: none;
    height: 70px;
    color: #ececec;
    font-size: 35px;
}

#send:hover {
    background-color: #495d63;
}