/* css  for Lab 2 simple form */
body{
    background-color: #334145;
    color: #fbfaf9;
    font-family: "Georgia";
    margin-bottom: -100px;
}

h1 {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 1000;
    text-transform: capitalize;
    color: #ececec;
}

p {
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

form {
    width: 700px;
    margin-top: 35px;
    margin-left: 400px;
}

ul {
    text-transform: capitalize;
    font-weight: 300;
}

li {
    display: block;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
    padding-top: 12px;
}

form ul li input {
    width: 510px;
    height: 30px;
}

#checkbox {
    margin-left: -250px;
    width: 700px;
}

#checkbox label {
    margin-left: -225px;
}

#send {
    background-color: #a14d48;
    border: none;
    height: 70px;
    color: #ececec;
    font-size: 35px;
}

#send:hover {
    background-color: #495d63;
}

footer {
    background-color: #495d63;
    width: 100%;
    height: 150px;
}

footer ul {
    text-align: center;
    margin-left: -70px;
}

footer ul li {
    display: inline-block;
    text-align: center;
    padding: 0 7px 0 7px;
}